{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "consistent-return": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { ignore: ['electron'] }],
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "max-len": [1, 120],
    "no-param-reassign": 0,
    "no-console": 0,
    "react/sort-comp": 0,
    "arrow-body-style": 0
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/ignore": {

    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.js"
      }
    }
  },
  "globals": {
    "_": true
  }
}
