.ProvinceDetails {
  padding: 2rem;
  background-color: white;
  color: black;
  height: calc(100vh - 65px);
  overflow: scroll;

  h1 {
    color: black;
    font-size: 32px;
  }

  h2 {
    color: black;
    font-size: 24px;
  }

  table {
    border-collapse: collapse;
    margin: 15px 0;
  }

  th {
    padding: 5px;
    border-bottom: 2px solid #DDD;
  }

  td {
    padding: 5px 8px;
    border-bottom: 1px solid #DDD;
  }
}
