.Header {
  background-color: #222;
  border-bottom: 1px solid #111;
  height: 35px;
  line-height: 35px;
  margin-bottom: 30px;
}

.Link {
  padding: 0.7rem 1rem;
  color: #C0C0C0;
}

.Link__active {
  color: white;
  font-weight: bold;
}
