@import 'styles/UI';


.TitleBar {
  padding: 0.5rem;
  font-size: 20px;

  button {
    background: none;
    border: none;
    color: #C0C0C0;
    cursor: pointer;
    font-size: 20px;

    float: right;

    &:hover {
      color: white;
    }
  }
}

.SelectedHex {


  :global(.ReactTabs__TabList) {
    border-top: 1px solid $overlay-border;
    border-bottom-color: $overlay-border;
    background-color: rgba(100, 100, 100, 0.2);
    margin: 0;

    :global(.ReactTabs__Tab--selected) {
      border-radius: 0;
      background-color: lighten($overlay-background, 10%);
      border: 1px solid $overlay-border;
      color: #DDD;
      top: 0px;
      padding-top: 7px;
      margin-bottom: -1px;
      margin-top: -1px;
    }
    :global([role=tab]:focus:after) {
      background: none;
    }
  }

  :global(.ReactTabs__TabPanel) {
    padding: 15px;
    position: absolute;
    overflow-y: auto;
    height: calc(100% - 70px);
    width: 100%;
  }

  dl {
    margin: 0;
    overflow: auto;
    font-size: 14px;

    dt {
      float: left;
      clear: left;
      margin-right: 0px;
      padding: 3px 0;
      color: $overlay-color;

      &:after {
        content: ':';
      }
    }

    dd {
      display: table-cell;
      padding: 1px 1px 1px 5px;
      margin-left: 100px;
      line-height: 20px;
    }
  }

  hr {
    margin: 1rem -1rem;
    border: 0;
    background-color: $overlay-border;
    height: 1px;
  }

  h2 {
    font-size: 1rem;
  }

  $button-base: rgba(lighten($overlay-background, 5%), 60%);
  .Button {
    background-color: $button-base;
    border: 1px solid darken($button-base, 5%);
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    color: white;

    &:hover {
      background-color: lighten($button-base, 1%);
    }
  }

  .DetailsIcon {
    background: none;
    border: none;
    color: #C0C0C0;
    cursor: pointer;
    font-size: 20px;

    position: absolute;
    top: 40px;
    right: 8px;

    &:hover {
      color: white;
    }
  }

}


.Chart {
  text {
    fill: #DDD;
    font-size: 12px;
  }
  :global {
    .recharts-tooltip-wrapper {
      * {
        color: black;
        fill: black;
      }
    }
    .recharts-legend-item-text {
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}


.Details {
  position: fixed;
  top: 135px;
  left: 350px;
  width: 400px;
  bottom: 0;
  background-color: rgba(27, 45, 53, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}


$table-color: #245B73;
.PopTable {
  font-size: 11px;
  margin: 0.5rem 0;
  width: 100%;

  :global {
    th {
      border-bottom: 2px solid $table-color;
      background-color: rgba($table-color, 0.2);
      font-weight: bold;
      padding: 0.3rem;
    }
    td {
      border-bottom: 1px solid $table-color;
      padding: 0.5rem 4px 0.5rem 0;

      &:not(:first-child) {
        text-align: center;
      }
    }
  }
}
